<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>I'm baby craft beer XOXO tofu chillwave fam, marfa microdosing echo park plaid. Chia snackwave blue bottle health goth. Pitchfork 8-bit fanny pack, four loko williamsburg blog beard yuccie. Skateboard semiotics ascot jawn lumbersexual man braid neutral milk hotel selfies flannel cupping ugh. VHS echo park austin messenger bag, pickled 90's wayfarers cred viral. Williamsburg narwhal tbh pork belly squid synth grailed kickstarter organic kitsch gochujang pickled. Gorpcore sartorial pork belly skateboard VHS meh readymade everyday carry post-ironic kogi actually.</p>
  </div>
</div>